.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: url('./assets/img/bg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-sticky {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;

    background-color: #fff;
    color: #000 !important;

    animation: header-sticky 0.4s;
    -webkit-animation: header-sticky 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header-sticky .icon-mobile {
    fill: #000000 !important;
}

@keyframes header-sticky {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-mobile {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;
}

.menu-mobile.active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    height: 144px;
    z-index: 100;
    transition: all ease-in 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
