@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply w-full mx-auto px-4 2xl:max-w-screen-2xl 2xl:px-32 
    xl:max-w-screen-xl xl:px-10 lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm;
}

/* Scroll To Top */
.scroll-to-top.active {
    @apply opacity-100 visible;
}
